.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header-list {
   display: flex;
   padding: 0;
}

.header-list li {
   list-style: none;
}

.header-list li a {
   padding: 10px;
   background-color: #a67a00;
   text-decoration: none;
   color: white;
   border-left: 2px solid #825f00;
}

.header-list li:first-child a {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border-left: none;
}

.header-list li:last-child a {
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}

.header-list li a:hover {
   background-color: #825f00;
}